<html lang="ua">

    <head>
        <title> Login </title>
<!--        <link rel = "stylesheet" href = "..\static\stylelogin.css"-->
    </head>

    <body>

        <div id = "description">
            <p> Our description of site </p>
        </div>

        <div class = "form">
            <form action='/new' method='post'>
                <input type="text" name="register" required>
                <input type="submit" value="submit">
                <label for="name" class="label-name">
                    <span class = "content-name"> UCU Post </span>
                </label>
            </form>
        </div>

    </body>




</html>