<html lang="ua">

    <head>
        <title> Login </title>
        
        <link rel = "stylesheet" href = "../static/style_teacher.css">
    </head>

    <body>
        <div class = "teacher-header">
            <img id = "teacher" src={{ teacher[2] }}
            alt="Teacher image" width = "200px" height = "270px" class = "img_of_teacher">

            <div class = "name_description">
                <p class = "name"> {{ teacher[0] }} </p>
            </div>

            <a href="#/teacher/" class="add_commit">послати нахуй романюка</a>

            <div class = "text_description">
                <p class = "teacher_description"> {{ teacher[1] }} </p>
            </div>
        </div>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class = "rating">

        <span class="heading">Рейтинг викладача</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <hr style="border:3px solid #f1f1f1">

        <div class="row">
        <div class="side">
            <div> 5 </div>
        </div>
        <div class="middle">
            <div class="bar-container">
            <div class="bar-5"></div>
            </div>
        </div>
        <div class="side right">
            <div>150</div>
        </div>
        <div class="side">
            <div> 4 </div>
        </div>
        <div class="middle">
            <div class="bar-container">
            <div class="bar-4"></div>
            </div>
        </div>
        <div class="side right">
            <div>63</div>
        </div>
        <div class="side">
            <div> 3 </div>
        </div>
        <div class="middle">
            <div class="bar-container">
            <div class="bar-3"></div>
            </div>
        </div>
        <div class="side right">
            <div>15</div>
        </div>
        <div class="side">
            <div> 2 </div>
        </div>
        <div class="middle">
            <div class="bar-container">
            <div class="bar-2"></div>
            </div>
        </div>
        <div class="side right">
            <div>6</div>
        </div>
        <div class="side">
            <div> 1 </div>
        </div>
        <div class="middle">
            <div class="bar-container">
            <div class="bar-1"></div>
            </div>
        </div>
        <div class="side right">
            <div>20</div>
        </div>
        </div>
        </div>



        
    <div class = "comment"></div>
    
    <div class = "comment"></div>



    </body>

</html>