body {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    top: 0;
    right: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #1c4e46;
    color: #f1f1f1;
}

/* header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1f1f1;
}

.header__logo {
    font-size: 50px;
    margin-left: 20px;
    margin-right: auto;
    font-weight: 700;
}

.buttonFac, .buttonUniv {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    text-align: right;

    border: none;
    background: none;
    outline: none;

    color: #f1f1f1;
    font-size: 20px;

    /*cursor: pointer;*/
    border-radius: 13px;

    text-decoration: none;

    transition: background-color .2s linear,
                color .2s linear;
}

.buttonFac:hover, .buttonFac:focus,
.buttonUniv:hover, .buttonUniv:focus {
    color: black;
    background: #dcdcdc;
    opacity: 0.6;
    border-radius: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownFacContent, .dropdownUnivContent {
    display: none;
    position: absolute;
    background-color: #dcdcdc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 10px 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 101;
}

.dropdownFacContent a, .dropdownUnivContent a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

/*intro*/

.intro {
    position: absolute;
    justify-content: center;
    top: 90px;
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    border: 3px solid #dcdcdc;
}

.box {
    color: #000000;
    text-decoration: none;
    margin: 25px;

    display: inline-block;
    width: 320px;
    height: 450px;
    border: 2px solid #dcdcdc;
    position: relative;
    transition: background-color .1s linear,
                opacity .1s linear;
}

/*.box:after {*/
/*    margin: auto;*/
/*    transition: opacity .1s linear;*/
/*}*/

.box:hover {
    background-color: #dcdcdc;
    opacity: 0.6;
}

.image {
    width: 280px;
    height: 280px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -140px;
}

.name {
    padding-top: 300px;
    padding-right: 10px;
    text-align: center;
}

.stars, .numVotes {
    /*display: inline-block;*/
    padding-top: 0;
    text-align: center;
    margin: 0;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

