body {
    background-color: rgb(28,78,70);
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.img_of_teacher {
    position: absolute;
    left: 40px;
    top: 30px;
}

.teacher-header{
    height: 45%;
    width: 100%;
}

#teacher {
    border: 4px solid black;
}

.name_description {
    position: absolute;
    left: 18%;
    top: 5%;
}

.rating {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 30%;
    height: 30%;
}


.name {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.add_commit {
    color: #000000;
    text-decoration: none;
    margin: 25px;

    display: inline-block;
    /*width: 320px;*/
    /*height: 450px;*/
    border: 2px solid #dcdcdc;
    position: relative;
    transition: background-color .1s linear,
    opacity .1s linear;
}

.add_commit:hover {
    background-color: #dcdcdc;
    opacity: 0.6;
}


.text_description {

    position: absolute;
    left: 18%;
    top: 20%;
    width: 35%;
    
}

.teacher_description {

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}


.comment {

    position: relative;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    opacity: 0.8;
    height: 25%;
    width : 87%;
    left: 6%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;

}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color:#f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {
      width: 60%;
      height: 18px;
      background-color: #4CAF50;
    }

  .bar-4 {
      width: 30%;
      height: 18px;
      background-color: #2196F3;
    }
  .bar-3 {
      width: 10%;
      height: 18px;
      background-color: #00bcd4;
    }

  .bar-2 {
      width: 4%;
      height: 18px;
      background-color: #ff9800;
    }

  .bar-1 {
      width: 15%;
      height: 18px;
      background-color: #f44336;
    }
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }



